.el-button--default.el-button.is-plain:hover{
  background: #FFFFFF;
  border-color: #36AE82;
  color: #36AE82;
}
// checkbox
.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #36AE82;
  border-color: #36AE82;
}
.el-checkbox__inner:hover {
  border-color: #36AE82;
}
.el-checkbox__label {
  color: #7C8EA5!important;
}
// radio
.el-radio__label {
  color: #7C8EA5!important;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: #36AE82;
  background: #36AE82;
}
// 分页
#pagin .el-pager .number.active {
  background-color: #36ae82;
  color: #ffffff;
}
#pagin .el-pager > .number {
  color: #36ae82;
}
#pagin .el-icon {
  color: #36ae82;
}