@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

@import './syncfusion/ej2-base/material.scss';
@import './syncfusion/ej2-buttons/material.scss';
@import './syncfusion/ej2-calendars/material.scss';
@import './syncfusion/ej2-dropdowns/material.scss';
@import './syncfusion/ej2-inputs/material.scss';
@import './syncfusion/ej2-navigations/material.scss';
@import './syncfusion/ej2-popups/material.scss';
@import './syncfusion/ej2-vue-schedule/material.scss';

@import './reset.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
  color: #7C8EA5;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}
.flex {
  display: flex;
}
.flex-hc {
  display: flex;
  justify-content: center;
}
.flex-hs {
  display: flex;
  justify-content: flex-start;
}
.flex-he {
  display: flex;
  justify-content: flex-end;
}
.flex-hec {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-hvc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-hb {
  display: flex;
  justify-content: space-between;
}
.flex-hbc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-ha {
  display: flex;
  justify-content: space-around;
}
.flex-hac {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-ve {
  display: flex;
  align-items: flex-end;
}
.flex-vc {
  display: flex;
  align-items: center;
}


